@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #7295b8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

a {
  color: #7295b8;
  font-weight: bold;
}

.container {
  background-color: rgb(216, 208, 208);
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.3);
  max-width: 90%;
  min-height: 12.5rem;
  margin: auto;
  padding: 2.5rem;
  border-radius: 1rem;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 0.32rem;
  line-height: 1.6;
  margin-top: -2rem;
}

.form-container {
  padding: 2.5rem;
  background-color: rgb(209, 198, 198);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 2rem 6rem rgba(65, 58, 100, 0.05);
  border-radius: 0.5rem;
}

form {
  display: flex;
  margin-bottom: 0.5rem;
}

small {
  font-size: 1.2rem;
  line-height: 1.5;
  opacity: 0.6;
}

.topic {
  padding: 1.4rem;
  width: 85%;
  border-radius: 5rem;
  border: none;
  font-size: 1.6rem;
}

button {
  padding: 1.4rem 2.4rem;
  border: none;
  font-size: 1.6rem;
  border-radius: 5rem;
  margin-left: 1rem;
  width: 14rem;
  background-color: #7295b8;
  cursor: pointer;
  transition: 0.5s ease-out;
  margin-right: 0.7rem;
}

button:hover {
  background-color: #567a9b;
  color: white;
}

.poem {
  font-size: 1.4rem;
  padding: 2rem;
  line-height: 1.5;
}

footer {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 6rem;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@media (max-width: 76.8rem) {
  h1 {
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
  }
  .topic, button {
    font-size: 1.4rem;
  }
  small {
    font-size: 1rem;
  }
  footer {
    font-size: 0.8rem;
  }
}

@media (max-width: 48rem) {
  .form-container {
    padding: 1.5rem;
  }
  .topic, button {
    font-size: 1.2rem;
    width: 100%;
    margin: 0.5rem 0;
  }
  h1 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
  .poem {
    font-size: 1.2rem;
    padding: 1.5rem;
  }
  footer {
    margin-top: 4rem;
  }
}
